html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-image: url("https://cdn.vox-cdn.com/thumbor/AdCOyB8-TEMDs_6yN3OS0Odv3IE=/6x0:615x457/1400x1050/cdn.vox-cdn.com/uploads/chorus_image/image/54219871/giphy4.0.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #00a300;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size: 40px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.message-time {
    margin-top: 4px;
    float: right;
    color: #f7365d;
    font-size: 10px;
}